<?xml version="1.0" encoding="Windows-1252"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:gamens="http://schemas.microsoft.com/wix/GamingExtension">
  
  <Product  Name="Zeus Thunderbolt" 
            Id="733C5452-C415-4C78-864F-02FA30C18538" 
            UpgradeCode="55980471-5728-4D50-827E-1BED8686DE88" 
            Language="1033" 
            Codepage="1252" 
            Version="1.1.5" 
            Manufacturer="Monster LEAK" >

    <Package Id="*" 
             Keywords="Installer" 
             Description="Zeus Thunderbolt Installer" 
             Comments="Mythological Wars: Zeus Thunderbolt"
             Manufacturer="Monster LEAK"
             InstallerVersion="310" 
             Languages="1033" 
             Compressed="yes"
             SummaryCodepage="1252"
             InstallPrivileges="elevated"
             InstallScope="perMachine"/>

    <!--<Condition Message="You need to be an administrator to install this product.">
      Privileged
    </Condition>-->

    <Media    Id="1" Cabinet="Zeus.cab" EmbedCab="yes" DiskPrompt="CD-ROM #1"/>
    <Property Id="DiskPrompt" Value="Zeus Thunderbolt Installation [1]" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    
    <Icon Id="Zeus.ico"    SourceFile="$(var.Application.TargetDir)\Zeus.ico" />
    <Icon Id="Config.ico"  SourceFile="$(var.Application.TargetDir)\Config.ico" />

    
    <!-- FEATURES -->
    <Feature Id="All"	Title="All" Description="Install all features." Display="expand" Level="1">

      <Feature  Id="Zeus" Title="Zeus Thunderbolt" Description="Mythological Wars: Zeus Thunderbolt."
		          Display="expand"	Level="1" 	ConfigurableDirectory="INSTALLDIR">
        <ComponentGroupRef Id="Base"/>
        <ComponentGroupRef Id="DLLs" />
        <ComponentGroupRef Id="CFGs" />
        <ComponentGroupRef Id="Media"/>
      </Feature>
      
    </Feature>

    
    <!--UI-->
    
    <UI>
      
      <UIRef Id="WixUI_InstallDir" />
      <UIRef Id="WixUI_ErrorProgressText" />
      
      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
      <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Zeus Thunderbolt" />
      
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">
          WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed
      </Publish>
      
    </UI>
    
    <WixVariable Id="WixUILicenseRtf" Value="Resources\License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Resources\banner.bmp" /><!-- 493 by 58 pixels, this bitmap will appear at the top of all but the first page of the installer.-->
    <WixVariable Id="WixUIDialogBmp" Value="Resources\dialog.bmp" /><!-- 493 by 312 pixels, this bitmap will appear on the first page of the installer.-->
    <!--
        <WixVariable Id="WixUIExclamationIco" Value="path\exclamation.ico" />
        <WixVariable Id="WixUIInfoIco" Value="path\information.ico" />
        <WixVariable Id="WixUINewIco" Value="path\new.ico" /> --> <!--16 by 16 pixels, new folder icon.-->
      <!--
        <WixVariable Id="WixUIUpIco" Value="path\up.ico" />--> <!--16 by 16 pixels, parent folder icon.-->
    
    <!-- ARP PROPERTIES (Add or Remove Programs Menu) -->
    <Property Id='ARPCOMMENTS'>Mythological Wars: Zeus Thunderbolt</Property>
    <Property Id='ARPCONTACT'>monster.leak.games@gmail.com</Property>
    <Property Id='ARPHELPLINK'>monster.leak.games@gmail.com</Property>
    <Property Id='ARPURLINFOABOUT'>http://elrayodezeus.wordpress.com</Property>
    <Property Id='ARPURLUPDATEINFO'>http://elrayodezeus.wordpress.com</Property>
    <Property Id='ARPHELPTELEPHONE'>monster.leak.games@gmail.com</Property>
    <Property Id='ARPPRODUCTICON'>Zeus.ico</Property>
    <!--
      <Property Id='ARPNOMODIFY'>1</Property> --><!-- suppress the Modify button --><!--
      <Property Id='ARPREADME'>path</Property>
      <Property Id='ARPSIZE'>app size in kilobytes</Property>-->

    
    <!--CUSTOM ACTIONS -->
    <Property Id="WixShellExecTarget" Value="[#GameExe]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes"/>
  
  </Product>
  
  

</Wix>